{% comment %}
A+ Content Section - Nur für Bildschirmbreiten unter 750px
{% endcomment %}

{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  /* CSS hinzugefügt, um die Bannerbreite auf 1100px zu begrenzen */
  #Banner-{{ section.id }} {
    max-width: 1100px;
    margin: 0 auto;
  }

  /* CSS, um die gesamte Section bei Bildschirmbreiten über 750px auszublenden */
  @media screen and (min-width: 751px) {
    #Banner-{{ section.id }} {
      display: none;
    }
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100'

  assign half_width = '100vw'
  assign stacked_sizes = '100vw'

  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div
  id="Banner-{{ section.id }}"
  class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  {%- if section.settings.image != blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = 'banner__media-image-half'
        endif
        assign sizes = full_width
      -%}
      {{
        section.settings.image
        | image_url: width: 1100
        | image_tag:
          width: 1100,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- endif -%}

  {%- if section.settings.image_2 != blank -%}
    <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
        if section.settings.image != blank
          assign image_class_2 = 'banner__media-image-half'
        endif
        assign sizes = full_width
      -%}
      {{
        section.settings.image_2
        | image_url: width: 1100
        | image_tag:
          width: 1100,
          height: image_height_2,
          class: image_class_2,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "A+ Content Mobile",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Bild"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Zweites Bild"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Bildüberlagerungs-Deckkraft",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "An Bild anpassen"
        },
        {
          "value": "small",
          "label": "Klein"
        },
        {
          "value": "medium",
          "label": "Mittel"
        },
        {
          "value": "large",
          "label": "Groß"
        }
      ],
      "default": "adapt",
      "label": "Bildhöhe",
      "info": "Wählen Sie die Höhe des Bildbanners."
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "Oben links"
        },
        {
          "value": "top-center",
          "label": "Oben zentriert"
        },
        {
          "value": "top-right",
          "label": "Oben rechts"
        },
        {
          "value": "middle-left",
          "label": "Mitte links"
        },
        {
          "value": "middle-center",
          "label": "Mitte zentriert"
        },
        {
          "value": "middle-right",
          "label": "Mitte rechts"
        },
        {
          "value": "bottom-left",
          "label": "Unten links"
        },
        {
          "value": "bottom-center",
          "label": "Unten zentriert"
        },
        {
          "value": "bottom-right",
          "label": "Unten rechts"
        }
      ],
      "default": "middle-center",
      "label": "Position des Inhalts auf dem Desktop"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": false,
      "label": "Textfeld anzeigen"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Links"
        },
        {
          "value": "center",
          "label": "Zentriert"
        },
        {
          "value": "right",
          "label": "Rechts"
        }
      ],
      "default": "center",
      "label": "Textausrichtung auf dem Desktop"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Farbschema",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "Keine"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        },
        {
          "value": "fixed",
          "label": "Fixiert"
        },
        {
          "value": "zoom-in",
          "label": "Hereinzoomen"
        }
      ],
      "default": "none",
      "label": "Bildverhalten"
    },
    {
      "type": "header",
      "content": "Mobile Einstellungen"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Links"
        },
        {
          "value": "center",
          "label": "Zentriert"
        },
        {
          "value": "right",
          "label": "Rechts"
        }
      ],
      "default": "center",
      "label": "Textausrichtung auf Mobilgeräten"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "Bilder auf Mobilgeräten stapeln"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "Text unterhalb anzeigen"
    }
  ],
  "presets": [
    {
      "name": "A+ Content Mobile",
      "blocks": []
    }
  ]
}
{% endschema %}
